@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 276 25% 92%;
    --accent-foreground: 267 6% 29%;

    --error: 348 100% 35%;
    --error-foreground: 0 0% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 15%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 257 8% 17%;
    --accent-foreground: 270 11% 79%;

    --error: 350 50% 61%;
    --error-foreground: 0 0% 0%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground m-0 p-0;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  main {
    @apply min-h-[80vh] py-2;
  }

  /* Custom styles based on shadcn */
  /* Button styles */
  button,
  a.button {
    @apply inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background;
  }
  button.primary,
  a.button.primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }
  button.secondary,
  a.button.secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }
  button.outlined,
  a.button.outlined {
    @apply border border-input hover:bg-accent hover:text-accent-foreground;
  }
  button.error,
  a.button.error {
    @apply bg-error text-error-foreground hover:bg-error/90;
  }
  button.text,
  a.button.text {
    @apply hover:bg-accent hover:text-accent-foreground;
  }
  button.link,
  a.button.link {
    @apply underline-offset-4 hover:underline text-primary;
  }
  button.sm,
  a.button.sm {
    @apply h-9 px-3 rounded-md;
  }
  button.md,
  a.button.md {
    @apply h-10 py-2 px-4;
  }
  button.lg,
  a.button.lg {
    @apply h-11 px-8 rounded-md;
  }
  /* Typography styles */
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  p.lead {
    @apply text-xl text-muted-foreground;
  }
  p.muted {
    @apply text-sm text-muted-foreground;
  }
  div.large {
    @apply text-lg font-semibold;
  }
  small {
    @apply text-sm font-medium leading-none;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  /* Table styles */
  div.table-container {
    @apply my-6 w-full overflow-y-auto;
  }
  table {
    @apply w-full;
  }
  tr {
    @apply m-0 border-t p-0 even:bg-muted;
  }
  th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }
  td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }
  /* List styles */
  ul.list {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  /* Code styles */
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  /* Anchor styles */
  a {
    @apply text-foreground hover:text-accent-foreground no-underline;
  }
  :not(li) > a {
    @apply hover:underline hover:underline-offset-2;
  }
  a.has-svg {
    @apply bg-background hover:bg-accent rounded;
  }
  .anchor {
    @apply block text-sm text-center leading-6;
  }
  .anchor span:not(.spacer) {
    @apply block;
  }
  .spacer {
    @apply hidden py-0 px-4;
  }
  @media screen and (min-width: 768px) {
    .anchor span {
      @apply inline !important;
    }
  }
  /* icon styles */
  .icon {
    @apply mr-2 w-5 h-5 items-center inline-block;
  }
  .icon:not(.nav) {
    @apply w-6 h-6 m-0;
  }
  /* Class styles */
  .card {
    @apply bg-card text-card-foreground overflow-hidden rounded-lg shadow-lg;
  }
  .container {
    @apply mx-auto px-8 max-w-7xl;
  }
  .centered {
    @apply flex flex-col items-center justify-center;
  }
  .header {
    @apply sticky top-0 z-50 border-b bg-background flex justify-between px-16 py-4 items-center;
  }
  .nav-menu-item {
    @apply flex justify-end space-x-4;
  }
  .button-group {
    @apply flex flex-wrap space-x-4;
  }
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
